{% extends "wiki/base.html" %}

{% block body %}
<br>
<div class="about_text">
Увлекательная визуальная новелла в русском сеттинге! <br>

Жизнь главного героя, Ромы Белова, переворачивается с ног на голову,
когда на его голову буквально падает таинственная незнакомка,
оказывающая самой взаправдашней инопланетянкой! В новелле вы сможете ознакомиться с тремя разными историями: <br>

- Яна-рут (основной) расскажет вам о тайном сотрудничестве земной и инопланетной цивилизации. Ну и конечно,
о том, что любви покорны любые инопланетные виды. <br>

- Стася-рут наполнен духом приключений и авантюризма. Вы сможете узнать поближе комсомолку,
спортсменку и просто красавицу! А может быть посотрудничать с тайной организацией по контролю инопланетян?.. <br>

- Кристина-рут приоткроет вам прошлое и настоящее, которое скрывается за изумрудными глазами очаровательной старосты.
<br>

Доступен 1 эпизод! В нем вы ознакомитесь с первыми шестью игровыми днями.<br>
Дальнейшие эпизоды - в разработке! <br>

Особенности (первого эпизода):<br>
- Увлекательная история от сценариста модификации "Булки, Кефир и Рок-н-ролл" (самый высокооцененный мод
"Бесконечного лета" за всё время, более 100 000 подписчиков в Steam), балансирующая между юмором,
драмой, приключениями и легким фансервисом;<br>

- 150 красочных иллюстраций от художницы таких игр как "Мокрые Шаги", "Моэ Эра" и "Травница";<br>
- Более сотни музыкальных композиций, в том числе оригинальные композиции от Leety и Pazetic Ocean;<br>
- Более 15 часов неспешного чтения;
</div>
{% endblock body %}